@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

html {
    font-size: 16px;
}

main {
    background: #E5E5E5;
}

th {
    padding: 0;
}

img.product-photo {
    margin-bottom: 0.44rem;
    margin-right: 0.94rem;
}

img.product-count{
    margin-right: 1.63rem;
}

img.product-count-right{
    width: 4.50rem;
    height: 4.50rem;
    margin-right: 0.88rem;
}

.col-md-7 {
    background: #F8F1EB;
    padding: 4.19rem 5.88rem 8.06rem 7.3rem;
}

.col-md-5.bg-white {
    padding-left: 5.88rem;
    padding-right: 7.50rem;
    padding-top: 5.50rem;
}

@media (min-width: 768px) {
    .col-md-7 {
        flex: 0 0 59.16666666666667%;
        max-width: 59.16666666666667%;
    }

    .col-md-5 {
        flex: 0 0 40.83333333333333%;
        max-width: 40.83333333333333%;
    }
}

@media (min-width: 1200px) {
    .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 1440px;
    }
}

.variants.bg-white {
    width: 100%;
    padding: 1rem 1.5rem 1.5rem;
    margin-bottom: 2.09rem;
    border: 1px solid #E9D6C5;
    box-sizing: border-box;
    border-radius: 6px;
}

form.needs-validation.bg-white {
    width: 100%;
    padding: 1rem 1.5rem 1.5rem;
    border: 1px solid #E9D6C5;
    box-sizing: border-box;
    border-radius: 6px;
}

.accordion-button::after {
    display: none !important;
}

table.table tr {
    border: none !important;
}

.table th, .table td {
    border-top: none !important;
}

.line-left {
    background: #F2F2F2;
    border-radius: 0px;
    height: 1px;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.line {
    background: #F2F2F2;
    border-radius: 0px;
    height: 1px;
    width: 100%;
    margin-top: 1.69rem;
    margin-bottom: 1.06rem;
}

.return-box{
    width: 100%;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 1.75rem 1.50rem 1.50rem 1.56rem;
    margin-top: 1.63rem;
}

.return-img{
    margin-right: 1.50rem;
    margin-bottom: 1.00rem;
}

.btn.btn-primary {
    background-color: #DC624E !important;
    border: 1px solid #DC624E !important;
    box-shadow: 0px 4px 10px rgba(67, 40, 16, 0.24);

    border-radius: 3px;
    font-size: 0.88rem;
    font-weight: 900;
    line-height: 24px;

    padding: 0.75rem 2.75rem 0.75rem 2.81rem;

    text-align: center;
    letter-spacing: 0.07em;
    text-transform: uppercase;
}

.btn-lg, .btn-group-lg > .btn {
    font-weight: 700;
}


.btn:focus, .btn.focus {
    box-shadow: none !important;
}


input[type="radio"] {
    margin-right: 10px;
}

.accordion-button:focus {
    box-shadow: none !important;
}

.accordion-button:not(.collapsed) {
    background-color: #fff;
    color: #000;
}

.form-control:focus,
.custom-select:focus {
    border-color: #000;
    outline: 0;
    box-shadow: none !important;

}

.accordion-body {
    background-color: #FAFAFA;
}

.method-desc h5 {
    font-weight: 500;
}

.method-desc p {
    font-weight: 400;
    color: #BDBDBD;
}

.method-desc img {
    margin-right: 5px;
}

input#firstName,
input#lastName,
input#remail,
input#address,
input#city,
select#country,
select#state,
input#zip {
}

.col-sm-4.mb-3 span {
    position: absolute;
    left: 24px;
}

.country option {
    position: relative;
    top: 5px;
}

span.select {
    position: absolute;
    bottom: 1px;
}

label.address {
    font-weight: 500;
    font-size: 14px;
}

p.customer-info {
    font-weight: 500;
    font-size: 14px;
}

h5.red-title {
    color: #DC624E;
    font-weight: 700;
    font-size: 12px;
}

.square {
    height: 40px;
    width: 40px;
    background-color: #F8F1EB;
}

.square img {
    position: absolute;
    height: 100%;
    width: 100%;
}

.float-down .float-right {
    position: relative;
    top: 8px;
}

.pt-5 {
    padding-top: 6rem !important;
}

th.total {
    font-weight: 400;
    font-size: 18px;
    color: #828282;
}

span.usd {
    font-weight: 500;
    font-size: 12px;
    color: #000;
}

.price{
    font-style: normal;
    font-weight: 900;
    font-size: 0.88rem;
    line-height: 24px;
}
strong.price {
    font-weight: 700;
    margin-left: 10px;
}

a.red-title {
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 24px;
    text-align: right;
    color: #DC624E;
}

span.simple {
    font-style: normal;
    font-weight: normal;
    font-size: 0.88rem;
    line-height: 24px;
    text-align: center;
    color: #333333;
}


table.col-12.float-down td {
    position: relative;
}


button.delete.btn.btn-primary.float-right {
    position: absolute;
    right: 0;
    top: 2px;
}

@media screen and (max-width: 576px) {
    button.accordion-button.position-relative img {
        display: none;
    }

    .security.d-flex.justify-content-center {
        flex-direction: column;
        align-itrems: center;
    }

    .security.d-flex.justify-content-center img {
        width: 50%;
    }

    .variants.bg-white.p-3.rounded.my-1.edit strong,
    .variants.bg-white.p-3.rounded.my-1.edit span {

        display: none;
    }
}

button.accordion-button.position-relative {
    pointer-events: none;
}

.radio input {
    pointer-events: all;
}

#yes {
    border: 2px solid white;
    box-shadow: 0 0 0 1px #DC624E;
    appearance: none;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    background-color: #fff;
    transition: all ease-in 0.2s;

}

#yes:checked {
    background-color: #DC624E;
}
